@{
    ViewBag.Title = "绑定邮箱";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Beeant.Basic.Services.Mvc.Extension
@model Beeant.Presentation.Mobile.Password.Models.Account.EmailModel
@section head
{

    @Styles.Render("~/Content/Site.css")
}


<div class="pass">
    @Html.Partial("~/Views/Account/Email/_Top.cshtml", Model)

    <br /><br /><br /><br /><br />
    <br /><br />
    <div class="ful">
        <h1 style="color: #f36b18;">恭喜你邮箱已经成功绑定</h1>
        <br /><br /><br /><br />
        <h3>
            您接下来的操作<span id="sptimes"></span>
            <a href="@Html.GetUrl("PresentationMobileHomeUrl")">首页</a>
            &nbsp;&nbsp;
            <a href="@Html.GetUrl("PresentationMobileMemberUrl")">用户中心</a>
            <br /><br /><br />
            <script type="text/javascript">
                var times = 4;
                var func = function () {
                    $("#sptimes").html(times);
                    times = times - 1;
                    if (times == 0)
                        window.location.href = '@Html.GetUrl("PresentationMobileMemberUrl")';
                    setTimeout(func, 1000);
                }
                func();
            </script>
        </h3>
    </div>

</div>

