@{
    Layout = "";
}
@using Beeant.Basic.Services.Mvc.Extension
@using Beeant.Basic.Services.Mvc.Extension.Website
@using Beeant.Basic.Services.Mvc.Script
@using Beeant.Domain.Entities
@using Beeant.Domain.Entities.Site
@using Winner.Persistence
@model Beeant.Cloud.Site.Website.Models.Commodity.CommodityListModel
@if (Model != null && Model.Commodities != null)
{
    foreach (var commodity in Model.Commodities)
    {
        <div class="element" DataId="@commodity.Id" DataName="@commodity.Name" DataDescription="@commodity.Description" DataPrice="@(commodity.IsShowPrice ? commodity.Price.ToString() : "")" IsPassword="@((!string.IsNullOrEmpty(commodity.Password)).ToString().ToLower())">
            <div class="img">
                <img class="ig"  src="@(string.IsNullOrEmpty(commodity.FileName) ? Html.GetNoPicture() : Model.GetFullFileName(commodity))"   alt=""/>
            </div>
            <div class="font">
                @commodity.Name
                <span class="red">@(commodity.IsShowPrice ? commodity.Price.ToString() : "")</span>
            </div>
            @if (!string.IsNullOrWhiteSpace(commodity.Password))
            {
                <div class="pass"><input class="input" type="text" name="pass" placeholder="please input password"/></div>
            }
        </div>
    }
}