@using Beeant.Basic.Services.Mvc.Extension
@{
    Layout = "_Layout.cshtml";
}
@section head
{

    <link href="/Content/Brand.css" rel="stylesheet"/>
@RenderSection("head", required: false)
}
<script type="text/javascript" src="/Scripts/shared.js"></script>
<script type="text/javascript">

    window.Language = {
        LoadErrorMessage: "系统忙，请稍候再试",
        PasswordTip: "请输入密保",
        PasswordErrorMessage: "密保错误"
    }
</script>
<div class="toper">
    <div id="topnav" style="@(string.IsNullOrEmpty(Request.QueryString["key"]) ? "" : "display:none")">
        <div class="contact">
            <img src="@ViewBag.Site.LogoFullFileName" class="img"/>
        </div>
        <div class="name">@(ViewBag.ToperName)</div>
        <div class="searchico"></div>
    </div>
    <div class="search" style="@(string.IsNullOrEmpty(Request.QueryString["key"]) ? "display:none" : "")">
        <input id="txtTopSearch" class="searchinput" placeholder="搜索" value="@(string.IsNullOrEmpty(Request.QueryString["key"]) ? "" : Model.Key)"/>
        <a href="javascript:void(0)" id="hfCancelSearch">取消</a>
    </div>
</div>



@RenderBody()
<div class="footer">
    <div class="nav">
        <a href="/Commodity/index/@ViewBag.SiteId" menu="true">产品</a>
    </div>
    <div class="nav">
        <a href="/Catalog/index/@ViewBag.SiteId">分类</a>
    </div>
    <div class="ho">
      <a href="/home/index/@ViewBag.SiteId"><img src="~/Images/Brand/home.png" /></a> 
    </div>
    <div class="nav">
        <a id="hfLinkMobile" href="javascript:void(0);">电话</a>
    </div>
    <div class="nav">
        <a href="/Company/index/@ViewBag.SiteId">联系我们</a>
    </div>
</div>

@RenderSection("bottom", required: false)
@if (ViewBag.Site != null && ViewBag.Site.IsShowAuthor)
{
    <div class="authornaver">
        <a href="@(Html.GetUrl("CloudSiteAdminUrl"))/home/about">本图册有蜂蚁图册提供，详情请点击</a>
    </div>
}