@{
    ViewBag.Title = "用户登录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Beeant.Basic.Services.Mvc.Extension
@model Beeant.Presentation.Website.Login.Models.Home.LoginModel
 @section  scripts{
@Scripts.Render("~/Scripts/Login.js")
 }
<div class="login-bg" style="background: url('/images/login_bg.png');">
    <div class="login-bd">
        <div class="login-logo">
            <img src="@Html.GetUrl("PresentationWebsiteSharedUrl")/images/logo.png">
        </div>
        <h2>登录</h2>
        <div class="home_login">
            
            <div class="login">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new {autocomplete = "off"}))
                {
                    <dl class="dl">
                        <dt>
                            <div class="in bor">
                                <div class="tc">

                                    @Html.TextBoxFor(it => it.Name, new {@class = "text", id = "loginName", @Value = (Model == null || string.IsNullOrEmpty(Model.Name) ? "用户名/已验证邮箱/已验证手机" : Model.Name), PlaceHolder = "用户名/已验证邮箱/已验证手机"})
                                </div>
                                <i class="iname"></i>
                            </div>
                        </dt>
                        <dt>
                            <div class="in bor">
                                <div class="tc">
                                    @Html.PasswordFor(it => it.Password, new {@class = "text", id = "loginPass", PlaceHolder = "登录密码"})
                                </div>
                                <i class="ipass"></i>
                            </div>
                        </dt>
                        @if (Model != null && Model.IsShowCode)
                        {
                            <dt>
                                @Html.TextBoxFor(it => it.Code, new {@class = "code bor", id = "loginCode", maxlength = "4", PlaceHolder = "验证码"})
                                <img id="imgCode" src="/Home/LoginCode" alt="" class="codeimg"/>
                                <div class="codediv">
                                    <a href="javascript:void(0);" id="aCode">看不清楚?</a>
                                </div>
                            </dt>
                        }
                        <dt>
                        
                            <a href="javascript:void(0);" class="sub"><input id="loginSubimt" type="submit" value="登录"  class="input"/></a>
                            @if (Model != null && Model.Errors != null && Model.Errors.Count > 0)
                            {
                                <span class="failure">@Model.Errors[0].Message</span>
                            }
                        </dt>
                        <dt>
                            <div class="coagent cf">
                                <div class="coage-l"><input type="checkbox" name="IsSaveCookie">在电脑上保存登录</div>
                                <div class="coage-r">
                                    <a href="@Html.GetUrl("PresentationMobilePasswordUrl")">忘记密码</a>
                                    @*&nbsp;&nbsp;|&nbsp;&nbsp;<a href="@Html.GetUrl("PresentationMobileRegisterUrl")">新用户注册</a>*@
                                </div>
                            </div>
                        </dt>
                    </dl>
                    @Html.HiddenFor(it => it.Url, new {@Value = (Model == null || string.IsNullOrEmpty(Model.Url) ? "" : Model.Url)})
                }
            </div>
        </div>
    </div>
</div>
