@{
    Layout = "~/Views/Shared/_EnDefaultLayout.cshtml";
    ViewBag.Title = Model == null ? "" : Model.GetToperName();
    ViewBag.ToperName = Model == null ? "" : Model.GetToperName();
}
@using Component.Extension
@using Beeant.Basic.Services.Mvc.Extension
@using Beeant.Basic.Services.Mvc.Extension.Mobile
@using Beeant.Basic.Services.Mvc.Script
@using Beeant.Domain.Entities
@using Beeant.Domain.Entities.Site
@using Winner.Persistence
@model Beeant.Cloud.Site.Mobile.Models.Commodity.CommodityListModel


<div class="commodity">

    <div class="listgroup">
        <div class="list" id="list" style="display: none; padding-bottom: 0;"></div>
    </div>

    <div class="ori" style="display: none;">
        <div class="content">
            <div class="biggroup" style="display: none;" id="biggroup"></div>
        </div>


    </div>
</div>

<div class="lianxi" style="display: none;">

</div>

<div class="detailimages" style="display: none">

</div>
<div id='divSelectItem'></div>

<script type="text/javascript">
    window.CatalogId = '@Request.QueryString["CatalogId"]';
    window.TagId = '@Request.QueryString["TagId"]';
    window.ShowAuthorUrl=@ViewBag.Site.IsShowAuthor.ToString().ToLower()?'@(Html.GetUrl("CloudSiteAdminUrl"))/home/about':"";
    window.IsOpenMultiShare=@ViewBag.Site.IsOpenMultiShare.ToString().ToLower();
    window.IsOpenImages=@ViewBag.Site.IsOpenImages.ToString().ToLower();
    window.Language.AuthorTip = "Electronic atlas, please click here";
    window.Language.PriceTip = "price";
    window.Language.OpenDetailTip = "more images";
    window.Language.LinkTip = "contact us";
    window.Language.ImagesPasswordLockTip = "This product requires security check, please enter the password security to view the details of the plan";
    window.Language.SelectItemTip = "select";
    window.Language.CancelItemTip = "cancel";
    window.Language.SelectCountOver = "You can choose up to 6 products";
</script>
<script type="text/javascript" src="~/Scripts/plug/jquery.mobile.min.js"></script>
<script type="text/javascript" src="~/Scripts/Winner/Slider/Winner.Slider.js"></script>
<script type="text/javascript" src="~/Scripts/Winner/Album/Winner.Album.js"></script>
<script type="text/javascript" src="~/Scripts/commodity.js"></script>
@if (Model != null && Model.Wechat != null)
{
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
    <script type="text/javascript" src="~/Scripts/wechat.js"></script>
    <script type="text/javascript">
        initWx({
            appId: '@Model.Wechat.AppId' , // 必填，公众号的唯一标识
            timestamp: '@Model.Wechat.Timestamp', // 必填，生成签名的时间戳
            nonceStr: '@Model.Wechat.NonceStr', // 必填，生成签名的随机串
            signature: '@Model.Wechat.Signature',
            detailUrl:'@Html.GetUrl("CloudSiteMobileUrl")/Commodity/Detail/@ViewBag.SiteId'
        });
    </script>
}



 