@using Beeant.Basic.Services.Mvc.Extension
@model Beeant.Presentation.Mvc.Shared.Models.Home.SearchModel
    <div class="searcher">
    <div class="combo" id="searcher">
        <form action="@Html.GetSearchUrl()" id="formSearch">
             <input id="txtSearch" value="@(Model == null || string.IsNullOrEmpty(Model.SearchKey) ? "搜索你想要的商品" : Model.SearchKey)" class="input col" name="searchkey" />
            <input type="hidden" name="relateKey" value="@Model.SearchKey"/>
            <input id="btnSearch" type="button" value="搜索" class="button"/>
        </form>
    
      
    </div>
    <div id="hoter" class="hoter">
        <ul>
            @if (Model.HotKeys != null)
            {
                for (int i = 0; i < Model.HotKeys.Count; i++)
                {
                    <li>
                        <a href="@Html.GetSearchUrl()/Home/Search?searchkey=@Model.HotKeys[i]&relateKey=Model.SearchKey">@Model.HotKeys[i]</a>
                    </li>
                    if (i != Model.HotKeys.Count - 1)
                    {
                        <li>|</li>
                    }
                }
            }
         
        </ul>
    </div>
</div>


<script type="text/javascript" src="@Html.GetSharedUrl()/Scripts/Winner/ComboBox/Winner.ComboBox.js"></script>
<script type="text/javascript">
    InitSearcher("/Shared/QuickSearch");
</script>